<div id="tituloListaProductos">
    <h2 style="text-align:center; margin:1rem">PRODUCTOS</h2>
</div>
<div class="container bg-light text-dark p-2">
    <div class="container p-4">
        <div class="row">

            <%if (prods.length >= 1) {%>

                <% prods.forEach(function(prod) { %>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= prod.thumbnail %> " alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><%= prod.title  %> </h5>
                          <p class="card-text"><%= prod.description %>   </p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">$ <%= prod.price %> </li>
                          <li class="list-group-item">Stock: <%= prod.stock %> </li>
                          <li class="list-group-item">SKU: <%= prod.code %> </li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Update</a>
                          <a href="#" class="card-link">Delete</a>
                        </div>
                      </div>
                    <%})%>

                        <%} else {%>
                            <h3 class="alert alert-warning">No hay productos cargados</h3>
                                <%}%>
        </div>
    </div>