<%- include ('./layouts/header') -%>

    <% if (name) { %>
        <div class="container my-5 py-3 bg-secondary text-white text-center">

            <h2>
                Bienvenido: <%= name %>
            </h2>
            <form action="/access/logout">
                <input type="hidden" class="form-control" id="name" value=<%- name %>
                aria-label="Recipient's username" aria-describedby="button-addon2" name="name">
                <button class="btn-sm btn-warning" type="submit">Logout</button>
            </form>
        </div>
        <% } %>



            <%- include ('../public/productos.html') -%>

                <!-- Solucion desde el Front para salir del login por inactividad -->
                <!-- <script src="/js/mouseMove.js"></script> -->
                <%- include ('./layouts/footer') -%>